body{
    margin: 0;
    font-family: "Open Sans", sans-serif;
    background-image: linear-gradient(to bottom right, purple, yellow);
    color: white;
}

.schoolheader {
    font-size: 40px;
    text-align: center;    
}

.paddingtop20 {
    padding-top: 20px;
}

.dateFont {
    font-size: 15px;
}

.tablestyle {
    margin-left: auto;
    margin-right: auto;
}

.textleft {
    text-align: left !important;    
}

.warning {
    text-align: center;  
}

.warning-red {
    text-align: center; 
    color: red; 
}